/* #region Resets */
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}
/* #endregion Resets */


/* #region Variables */
:root {
    /* #region Borders */
    --border: 2px dashed black;
    /* #endregion Borders */

    /* #region Colors */

    /* Menu */
    --main-menu-section-bg-color: lightblue;
    --main-menu-column-bg-color: goldenrod;

    /* Banner */
    --banner-section-bg-color: navy;
    --banner-bg-color: orchid;

    /* Section */
    --section-odd-bg-color: white;
    --section-even-bg-color: lightgrey;

    /* Panels */
    --panel-single-bg-color: green;
    --panel-image-bg-color: dodgerblue;
    --panel-text-bg-color: pink;

    /* Footer */
    --footer-color: #23272a;

    /* Bottom bar */
    --bottom-bar-bg-color: aquamarine;

    /* #endregion Colors */
}
/* #endregion Variables */


/* #region Utility */
/* Containers */
.container {
    display: flex;
    margin: 0 auto;
    padding: 50px;
    &.container-normal {
        max-width: 1200px;
    }
    &.container-small {
        max-width: 1000px;
    }
}
/* Containers */
/* #endregion Utility */



/* #region Debug */
.debug {
    font-size: 20px;

    /* #region Header */
    header {

        #main-menu-section {
            background-color: var(--main-menu-section-bg-color);
            #container-menu {
                padding: 15px;
                .main-menu-column {
                    padding: 10px;
                    border: var(--border);
                    background-color: var(--main-menu-column-bg-color);
                    &:nth-child(1) {
                        width: 20%;
                    }
                    &:nth-child(2) {
                        width: 60%;
                        text-align: center;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
        }

        #banner-section {
            background-color: var(--banner-section-bg-color);
            #banner {
                border: var(--border);
                height: 500px;
                background-color: var(--banner-bg-color);
            }
        }

    }
    /* #endregion Header */

    /* #region Main */
    main {

        .page-section {
            &:nth-child(odd) {
                background-color: var(--section-odd-bg-color);
            }
            &:nth-child(even) {
                background-color: var(--section-even-bg-color);
            }
            .panel {
                border: var(--border);
                height: 500px;
                &.panel-image {
                    width: 60%;
                    background-color: var(--panel-image-bg-color);
                }
                &.panel-text {
                    width: 40%;
                    background-color: var(--panel-text-bg-color);
                }
                &.panel-single {
                    width: 100%;
                    height: 1000px;
                    background-color: var(--panel-single-bg-color);
                }
            }
        }

    }
    /* #endregion Main */

    /* #region Footer */
    footer {
        background-color: var(--footer-color);
        #other-links-section {
            .link-section {
                flex-grow: 1;
                height: 500px;
                border: 2px dashed white;
                background-color: cadetblue;
                &:first-child {
                    border: var(--border);
                    width: 150px;
                    background-color: indianred;
                }
            }
        }
        #bottom-bar {
            padding: 15px 0;
            justify-content: space-between;
            background-color: var(--bottom-bar-bg-color);
            span {
                padding: 5px 10px;
                border: var(--border);
                background-color: pink;
            }
        }
    }
    /* #endregion Footer */

}
/* #region Debug */